nav.navbar.navbar-static-top
  div.navbar-header
    button.navbar-toggle(ng-click="isCollapsed = !isCollapsed")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a(href='/', ng-init="name = 'SynthSym'", ng-mouseenter="name = 'Adam Jacobus'", ng-mouseleave="name = 'SynthSym'").brand {{name}}
  div.nav-collapse(collapse="isCollapsed")
    ul.nav
      li: a(ng-href='#/work') Works
      li: a(ng-href='#/contributions') Contributions
      li: a(ng-href='#/contact') Contact
