nav.navbar.navbar-static-top
  div.navbar-header
    button.navbar-toggle(ng-click="isCollapsed = !isCollapsed")
      span.icon-bar
      span.icon-bar
      span.icon-bar
    div.brand(ng-switch, on='hover', ng-init="hover=false", ng-mouseenter="hover=true", ng-mouseleave="hover=false")
      a(href='/', ng-switch-when="true") Adam Jacobus
      a(href='/', ng-switch-when="false") SynthSym
  div.nav-collapse(collapse="isCollapsed")
    ul.nav
      li: a(ng-href='#/work') Works
      li: a(ng-href='#/contributions') Contributions
      li: a(ng-href='#/contact') Contact
